
html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}
#input-wrapper{
  position: absolute;
  top: 10px;
  background-color: white;
  z-index: 100;
  left: 35%;
}
#what-loc, #location-text, #zoom-text, #submit{
  margin: 10px;
}
